.categoriaContainer {
    padding-bottom: 100px;
    height: 100%;
  }
  
  .title-link {
    display: flex;
    align-items: center;
    gap: 40px;
    padding: 0 40px;
  }
  .title-link h2 {
    color: var(--color-secondary);
    font-size: 46px;
    font-weight: 400;
    letter-spacing: 0.69px;
    font-family: var(--font-primary);
    text-transform: uppercase;
  }
  
  .title-link a {
      color: var(--color-secondary);
      font-family: var(--font-secondary);
      font-size: 16px;
      font-weight: 400;
      letter-spacing: 0.24px;
      text-decoration: none;
  }
  
  .title-link a:hover {
      color: var(--color-primary);
  }