.navContainer {
  position: fixed;
  z-index: 9999;
  top: 0;
  width: 100vw;
  display: grid;
}
.navContainer nav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: var(--color-white);
}

.navContainer ul {
  display: flex;
  gap: 20px;
}
.navContainer ul li {
  list-style: none;
}

.navContainer ul li a:hover,
.navContainer ul select:hover {
  cursor: pointer;
  color: #7d53c7;
  transition: all 0.2s;
}
