@import url("https://fonts.googleapis.com/css2?family=League+Gothic&family=Montserrat:wght@100;200;400;500;600;700;900&family=Roboto:wght@100;300;400;500;700;900&display=swap");

body {
  margin: 0;
  overflow-x: hidden;
  font-family: "League Gothic", sans-serif;
  font-family: "Montserrat", sans-serif;
  font-family: "Roboto", sans-serif;
  --font-primary: "League Gothic", sans-serif;
  --font-secondary: "Montserrat", sans-serif;
  --font-tertiary: "Roboto", sans-serif;
  --color-primary: #9505e3;
  --color-secondary: #20064e;
  --color-white: #f9f9f9;
  --color-black: #282828;
  background-color: var(--color-white);
}

main{
  padding-top: 80px;
}

a{
  color: var(--color-secondary);
  text-decoration: none;
  font-family: var(--font-secondary);
  font-size: 15px;
}

input {
  border: 1px solid var(--color-primary);
  border-radius: 3px;
  outline: none;
  padding: 3px;
  color: var(--color-black);
}

select {
  font-family: var(--font-secondary);
  border: none;
  outline: none;
  color: var(--color-secondary);
  font-size: 15px;
  background-color: var(--color-white);
}
option {
  padding: 0 20px;
}

.btn-container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.section-text {
  display: grid;
  justify-items: center;
  text-align: center;
  color: var(--color-secondary);
  margin-bottom: 40px;
}
.section-text h2 {
  font-family: var(--font-primary);
  font-size: 46px;
  line-height: normal;
  letter-spacing: 0.69px;
  margin: 0;
}
.section-text span {
  font-family: var(--font-secondary);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.24px;
}
.section-text img{
  margin-top: 30px;
  width: 300px;
}

.itemsContainer{
  display: flex;
  justify-content: center;
  gap: 20px;
}

#cartIcon{
  cursor: pointer;
}