.carrusel {
  position: relative;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carrusel .carruselItemsContainer{
  display: flex;
  justify-content: center;
  gap: 20px;
  position: absolute;
}

.carrusel .carruselItem {
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 10px 12px 13px 0px rgba(0, 0, 0, 0.28);
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  position: absolute;
  transition: all .5s ease-in;
}
.carrusel .carruselItem.selected.card{
  padding: 20px;
}
.carrusel .carruselItem.selected{
  opacity: 1;
  left: 0%;
  position: relative;
}
.carrusel .carruselItem.prev{
  left: -100%;
}
.carrusel .carruselItem.next{
  left: 100%;
}
.carrusel .carruselItem .productImage {
  border-radius: 15px;
  height: 200px;
  width: 200px;
  background-size: cover;
  background-position: center;
}
.carrusel .carruselItem .logo {
    border-radius: 50%;
    height: 100px;
    width: 100px;
    background-position: center;
    background-size: cover;
    margin-top: -40px;
}
