.btn {
    width: 130px;
    padding: 10px 0px;
    flex-shrink: 0;
    border-radius: 6px;
    cursor: pointer;
    border: none;
    transition: all 0.2s;
    font-family: var(--font-secondary);
  }
  
  .btn.primary {
    background: var(--color-primary);
    color: white;
  }
  .btn.primary:hover {
    color: var(--color-primary);
    background: white;
    border: 1px solid var(--color-primary);
  }
  .btn.secondary {
    color: var(--color-primary);
    border: 1px solid var(--color-primary);
  }
  .btn.secondary:hover {
    background: var(--color-primary);
    color: white;
    border: 1px solid var(--color-primary);
  }