.btn {
  width: 130px;
  padding: 10px 0px;
  flex-shrink: 0;
  border-radius: 6px;
  cursor: pointer;
  border: none;
  transition: all 0.2s;
  font-family: var(--font-secondary);
}

.btnContainer .btn {
  width: 100%;
}
.btn.primary {
  background: var(--color-primary);
  color: white;
  border: 1px solid var(--color-primary);
}
.btn.primary:hover {
  color: var(--color-primary);
  background: white;
  border: 1px solid var(--color-primary);
}
.btn.secondary {
  color: var(--color-primary);
  border: 1px solid var(--color-primary);
}
.btn.secondary:hover {
  background: var(--color-primary);
  color: white;
  border: 1px solid var(--color-primary);
}
.btn.primary_icon{
  height: 40px;
  width: 40px;
  text-align: center;
  margin: 0;
  border-radius: 50%;
  background-color: var(--color-white);
  border: 1px solid var(--color-primary);
  font-weight: 900;
  font-size: 20px;
}

.btn.secondary_icon{
  height: 40px;
  width: 40px;
  text-align: center;
  margin: 0;
  border-radius: 50%;
  background-color: var(--color-primary);
  color: var(--color-white);
  font-weight: 900;
  font-size: 20px;
}
.btn.secondary_icon:hover{
  background-color: var(--color-white);
  border: 1px solid var(--color-primary);
  color: var(--color-primary);
}
.btn:disabled{
  opacity: .6;
  cursor: not-allowed;
}
.btn.secondary_icon:disabled:hover{
  border: none;
  background-color: var(--color-primary);
  color: var(--color-white);
  opacity: .6;
  cursor: not-allowed;
}