.card {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4px;
  border-radius: 20px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  width: min-content;
  max-width: 230px;
  min-width: 200px;
}

.card h2,
.card p {
  margin: 0;
}

.card p {
  font-family: var(--font-secondary);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: -0.27px;
  color: var(--color-black);
}

.card span {
  font-family: var(--font-secondary);
  font-size: 22px;
  font-weight: 900;
  color: var(--color-black);
  text-align: end;
  margin-top: 20px;
}

.card img {
  max-height: 100px;
  width: auto;
}

.card .btnContainer {
  margin-top: 20px;
}

.card .price {
  width: 100%;
}
.card .price .oldprice {
  right: 0%;
  top: -140%;
  font-size: 16px;
}
