.navContainer {
  position: fixed;
  z-index: 9999;
  top: 0;
  width: 100vw;
  display: grid;
}
.navContainer nav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: var(--color-white);
}

.navContainer ul {
  display: flex;
  gap: 20px;
}
.navContainer ul li {
  list-style: none;
}

.navContainer ul li a:hover,
.navContainer ul select:hover {
  cursor: pointer;
  color: #7d53c7;
  transition: all 0.2s;
}

.btn-container.cartIcon{
  position: relative;
}
.btn-container.cartIcon #quantity{
  position: absolute;
  top: -20%;
  right: -30%;
  padding: 3px;
  height: 15px;
  width: 15px;
  font-size: 13px;
  border-radius: 50%;
  background-color: red;
  font-family: var(--font-secondary);
  font-weight: 900;
  color: var(--color-white);
  text-align: center;
}

.navbarProducts{
  position: absolute;
  background-color: var(--color-white);
  border: 1px solid var(--color-primary);
  padding: 0 20px;
  width: 200px;
  height: 200%;
  overflow-y: scroll;
  transition: all .6s ease-in;
}
.navbarProducts.desactived {
  top: -400%;
}
.navbarProducts.actived{
  top: auto;
}
.navbarProducts p{
  font-family: var(--font-secondary);
  cursor: pointer;
  border-bottom: 1px solid var(--color-primary);
}
.navbarProducts p:hover{
  color: var(--color-primary);
}